/* stylenote.css */
body {
    font-family: Rubik, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3e3e3e;
}

#app {
    display: flex;
}

#sidebar {
    width: 400px;
    height: 100%;
    background-color: #4a4a4a;
    color: white;
    padding: 20px;
    transition: transform 0.3s ease;
    display: flex;
}

#folder-list {
    list-style: none;
    padding: 0;
    width: 400px;
    height: 100%;
}

.folder {
    cursor: pointer;
    margin-bottom: 10px;
}

.note {
    cursor: pointer;
    margin-bottom: 10px;
}

#content {
    flex-grow: 1;
    padding: 20px;
    flex: 2;
}

#note-list {
    position: fixed;
    left: -400px;
    width: 400px;
    height: 100%;
    list-style: none;
    padding: 0;
}

#text-editor-container {
    border: 1px solid #ccc;
    padding: 10px;
}

#text-editor {
    min-height: 200px;
    padding: 10px;
    font-size: 16px;
    outline: none;
    border: none;
    width: 100%;
}


#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 1;
}

#header {
    position: relative;
    z-index: 3;
}

#menu {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background-color: #b9b9b9;
    transition: left 0.3s ease-in-out;
    z-index: 2;
}

.hidden {
    right: -300px;
}

h1.welcome {
    padding-left: 25px;
}

h1 {
    color: white;
}


header {
    background-color: #303030;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: left;
    border-radius: 10px;
}

nav.nav {
    margin-top: 150px;
    text-decoration: none;
    list-style-type: none;
}

nav.nav2 {
    margin-top: 80%;
    list-style-type: none;
}

li.nav {
    background-color: #939393;
    transition: 0.3s;
    margin: 20px;
    text-align: center;
    height: 70px;
    border-radius: 10px;
    display: flex;
}

li.nav:hover {
    background-color: #b9b9b9;
    transition: 0.3s;
}

a {
    text-decoration: none;
    margin: auto;
    color: black;
    font-size: 30px;
}

li.nav2 {
    background-color: #939393;
    transition: 0.3s;
    margin: 20px;
    text-align: center;
    height: 70px;
    border-radius: 10px;
    display: flex;
}

li.nav2:hover {
    background-color: #b9b9b9;
    transition: 0.3s;
}